@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
    font-size: 24px;
    /* width: 1900px; */
}

a{
    font-size: 24px;
}

.navigation{
    background-color:#413f3f;
    display: flex;
    justify-content: space-between;
}
.menu_list{
    display: flex;
}

.logo_image{
    padding-left: 28px;
}
.nav_logo_name{
    float: right;
    padding-left: 27;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 700px;
}

.nav_logo{
    padding-top:25;
}

.search{
    padding: 28 25 26 26;
}

.menu_item{
    text-decoration: none;
    padding: 28 34 24 36;
    
}

.nav_link{
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.search_logo{
    background-color: black;
    padding-left: 10px;
}

.header_block{
    background-image:url(images/header-bg.jpeg);
    background-position-y: -500px;
    background-position-x: -380px;
    height: 370px;
    
    background-size: auto;
    background-repeat: no-repeat;


    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.header_block_text{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size:27px;
}


.button{
    background-color: 89CA62;
    padding: 16 19 17 19;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    border-radius: 8px;
}

.blue{
    background-color: #14B9D5;
    margin-left: 20px;
}

.header_block_container{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    /* align-content: center; */
}

.header_block_buttons{
    margin-bottom: 70px;
   
    display: flex;
    justify-content: center;
    
}
/*  */
/* Header ends */
/*  */

.main{
    height: 1030px;
    background-color: #F2F2F2;
}


.container_posts{
    display: flex;
    justify-content: center;
}

.title{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #18B4CF;   
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Удали потом */
.post_block{
    display: flex;
    flex-direction: column;      
}




.text_in_posts{
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 20 16 22 16;
    color: #353A3D;
}

.post_block_image{
    display: flex;
    flex-direction: column;
    width: 370px;
    margin: 15 30 20 10;
   
}

/*  */
/*  */
/*  */

.clients_content{
    height: 590px;
    background-image: url(images/bar.jpeg);
    background-position-y: -175px;
    background-position-x: -220px;

    display: grid;
    grid-template-rows: 150px 150px 150px;
    
    
    justify-items:center;
}

.title_clients{
    margin-top: 108px;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 44px;
    text-transform: uppercase;
    
}

.pop_clients > div > img{
    margin-left: 70px;
    margin-top: 50px;
}

.line{
    margin-top: 70px;
    height: 1px;
    color: #18B4CF;
    background-color:#18B4CF;
    width: 60px;
}

/*  */
/*  */
/*  */

.top_rated_container{
    display: grid;
    grid-template-columns:repeat(7,1fr);
    overflow: hidden;
}

.top_rated_container > img{
    max-width:217;
}

/*  */
/*  */
/*  */


.hot_news_header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        " a  b "; 
    /* grid-template-rows: 1fr; */
    /* justify-items: center; */
    grid-gap: 10px;
    margin-left: 180px;
    
}

.hot_news_header_left{
    display: flex;
    grid-area: a;
    justify-self: right;
}
 .hot_news_header_right{
     /* background-color: #ebe2e2; */
     padding-top: 10px;
     width: 277px;
     text-align: center;
     grid-area: b;
     
 }
.hot_news_text_header{
    color:#5B6469;
    width: 350px;
    background-color: #F9F7F7;;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    padding: 30 15 20 15;
    text-align: right;
    line-height: 21px;
}

.text{
    color:#353A3D;
    background-color:#F9F7F7;
    padding: 14 10 14 10;

    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1px;
    font-family:'Open Sans', sans-serif;
    

}
/*  */


.hot_news_middle{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* grid-template-areas:
        "a  b" 
        "c  d "; */
    grid-gap: 45px;
    margin-right: 280px;
    justify-content: center;
}

.hot_new_middle_first{
    margin-top: 20px;
}


.hot_news_text_middle{
    color:#5B6469;
    width: 350px;
    background-color: #F9F7F7;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    padding: 30 15 20 15;
    text-align: right;
    line-height: 21px;
}

.options{
    width: 524px;
    /* margin-top: 50px; */
}


.left{
    margin-left: 275px;
}



/*  */

.hot_new_bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.hot_new_bottom_title{
    color: #353A3D;
    background-color: #F9F7F7;
    padding: 20 16 22 16;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.hot_new_bottom_text{
    background-color: #F9F7F7;
    padding: 20 16 22 10;
     color:#353A3D;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    /* font-weight: bold; */
    font-family: 'Open Sans', sans-serif;
    width: 330px;
}

.hot_new_bottom_left{
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-left: 180px;
}

.hot_new_bottom_right{
    display: flex;
    flex-direction: row;
    margin-right: 186px;
    
    /* height: 300px; */
    
}


.hot_new_bottom_title_right{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-align: right;

}


/*  */
/*  */
/*  */

.footer{
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 60px;
}


.footer_logo{
    display: flex;
}

.footer_text{
    font-size: 13px;
    line-height: 13px;
    font-family: 'Open Sans', sans-serif;

}

.footer_logo_word{
    text-transform: uppercase;
    font-weight: 600;
}

.footer > div{
    padding-top: 20px;
    padding-bottom: 20px;
}